## Types & NA Values Exercise

**This exercise uses the `netflix_titles.csv` dataset**

In [3]:
# Import the netflix_titles.csv dataset, making sure to pass the correct separator character
import pandas as pd
path = r"C:\Users\stask\Python Data Analysis & Visualization Masterclass\data\netflix_titles.csv".replace('\\', '/')
netflix = pd.read_csv(path, sep='|', index_col='show_id')
netflix.head(2)

,Unnamed: 0,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
show_id,,,,,,,,,,,,
s1,0,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
s2,1,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."

In [4]:
# Quite a few rows are missing a value for country. Find the rows with no country
netflix.country.value_counts(dropna=False).head()

United States     2818
India              972
NaN                831
United Kingdom     419
Japan              245
Name: country, dtype: int64

In [5]:
netflix[netflix.country.isna()].head(2)

,Unnamed: 0,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
show_id,,,,,,,,,,,,
s3,2,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
s4,3,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."

In [6]:
# Find the rows with no director, cast, AND country listed
director_na = netflix.director.isna()
cast_na = netflix.cast.isna()
country_na = netflix.country.isna()
netflix[director_na & cast_na &  country_na].head(2)

,Unnamed: 0,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
show_id,,,,,,,,,,,,
s4,3,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
s11,10,TV Show,"Vendetta: Truth, Lies and The Mafia",NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, Docuseries, International TV S...","Sicily boasts a bold ""Anti-Mafia"" coalition. B..."

In [7]:
# Drop all rows in the dataframe that have at least one NA value (not inplace!)
netflix.shape

(8807, 12)

In [34]:
# Drop all columns in the dataframe that contain at least one NA value, not inplace!
netflix.dropna(axis=1).head(2)

,Unnamed: 0,type,title,country,release_year,rating,listed_in,description
show_id,,,,,,,,
s1,0,Movie,Dick Johnson Is Dead,United States,2020,PG-13,Documentaries,"As her father nears the end of his life, filmm..."
s2,1,TV Show,Blood & Water,South Africa,2021,TV-MA,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."

In [15]:
# Drop all rows in the dataset that have a missing director or cast (not inplace!)
netflix.dropna(subset = ['director', 'cast']).shape

(5700, 12)

In [23]:
# Find the rows that are missing a "rating"
# Replace the na ratings with "TV-MA" USING .loc[] 
netflix.loc[netflix.rating.isna(),'rating'] = "TV-MA"

In [29]:
# Fill the missing "country" values with the most common (mode) country value, inplace!
# Do this using fillna, rather than .loc  
netflix.country.value_counts().head(2)

United States    2818
India             972
Name: country, dtype: int64

In [31]:
netflix.country.fillna('United States', inplace=True)
netflix.country.value_counts().head(2)

United States    3649
India             972
Name: country, dtype: int64