# DataFrame Analysis Exercise

**Import the `bestsellers.csv` dataset and use it to answer the following questions:**

* Find the lowest User Rating in the DF
* Find the highest Price in the DF
* What is the average User Rating?
* What the average User Rating of the first 5 rows?
* What User Review score appeared the most?
* What is the total (sum) of all the values in the Reviews column?
* How many different authors are featured in the dataset?
* Which author wrote the most number of books on the list?  How many did they write?

In [1]:
import pandas as pd

In [2]:
path = r"C:\Users\stask\Python Data Analysis & Visualization Masterclass\data\bestsellers.csv".replace('\\', '/')

In [3]:
bestsellers = pd.read_csv(path)
bestsellers.head()

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction

In [5]:
# Find the lowest User Rating in the DF
bestsellers['User Rating'].min()

3.3

In [ ]:
# Find the highest Price in the DF

In [13]:
bestsellers[bestsellers.Price == bestsellers.Price.max()]

,Name,Author,User Rating,Reviews,Price,Year,Genre
69,Diagnostic and Statistical Manual of Mental Di...,American Psychiatric Association,4.5,6679,105,2013,Non Fiction
70,Diagnostic and Statistical Manual of Mental Di...,American Psychiatric Association,4.5,6679,105,2014,Non Fiction

In [14]:
# What is the average User Rating?
bestsellers['User Rating'].mean()

4.618363636363641

In [16]:
# What the average User Rating of the first 5 rows?
bestsellers['User Rating'].head().mean()

4.7

In [37]:
# What User Review score appeared the most?
bestsellers['User Rating'].mode()

0    4.8
Name: User Rating, dtype: float64

In [18]:
# What is the total (sum) of all the values in the Reviews column?
bestsellers.Reviews.sum()

6574305

In [29]:
# How many different authors are featured in the dataset?
bestsellers.Author.nunique()

248

In [38]:
bestsellers.describe(include='object')

,Name,Author,Genre
count,550,550,550
unique,351,248,2
top,Publication Manual of the American Psychologic...,Jeff Kinney,Non Fiction
freq,10,12,310

In [36]:
# Which author wrote the most number of books on the list? How many did they write?
bestsellers.groupby('Author', as_index=False) \
    .agg({'Name':'count'}) \
    .rename(columns={'Name': 'books_written'}) \
    .sort_values('books_written', ascending=False)

                                 Author  books_written
120                         Jeff Kinney             12
92                         Gary Chapman             11
226                     Suzanne Collins             11
197                        Rick Riordan             11
11   American Psychological Association             10
..                                  ...            ...
61                          David Grann              1
143                    Larry Schweikart              1
62                     David McCullough              1
141                     Khaled Hosseini              1
171                      Muriel Barbery              1

[248 rows x 2 columns]